.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.basic-modal-content {
    border: 2px solid transparent;
    background-image: linear-gradient(to right, #6e8efb, #a777e3);
    background-clip: padding-box; /* 그라디언트 효과만 테두리에 적용 */
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    width: 300px;
}

.modal-title {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.modal-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.modal-button {
    font-size: 1.2rem;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.modal-confirm {
    color: white;
    background: linear-gradient(135deg, #6e8efb, #4e73df); /* 파란색 계열의 그라디언트 */
}

.modal-confirm:hover {
    background-color: #5c9bf8; /* 더 밝은 파란색으로 전환 */
    transform: scale(1.05); /* 호버 시 약간 확대 */
}

.modal-cancel {
    color: white;
    background: linear-gradient(135deg, #a777e3, #7c4dff); /* 보라색 계열의 그라디언트 */
}

.modal-cancel:hover {
    background-color: #9b67d4; /* 더 밝은 보라색으로 전환 */
    transform: scale(1.05); /* 호버 시 약간 확대 */
}
